{
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "arrow-parens": 0,
    "comma-dangle": 0,
    "object-curly-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "no-mixed-operators": 0,
    "max-len": ["error", 120],
    "import/no-unresolved": 0
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "extends": [
    "airbnb-base"
  ]
}
